.flag {
    width: 160px;
    height: 100px;
}

.weather-icon {
    height: 86px;
}

.bg-custom {
    background-color: #18161565 !important;
}

.bg-custom-50 {
    background-color: #1414139d !important;
}

#search {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

#container {
    padding-top: 65px !important;
}

.icon {
    transition: all 1s;
    animation: rotate 5s linear infinite;
}

.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
     background-color: #181615ad !important;
}

body {
    background-image: url(images/night.webp) !important;
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) { 
    #container {
        padding-top: 105px !important;
    }
}

@media (max-width: 600px) { 
    body {
        background-image: url(images/night_sm.jpg) !important;
    }
}